.aside .logo a::before
{
    border-top: 4px solid #ffb400;
    border-left: 4px solid #ffb400;
}
.aside .logo a::after
{
    border-right: 4px solid #ffb400;
    border-bottom: 4px solid #ffb400;  
}
body.dark .interest .interest-filter button.active,
.contact .contact-info-item .icon .fa,
.lightbox .lightbox-controls .prev-item,
.lightbox .lightbox-controls .next-item,
.interest .interest-item .interest-info .icon .fa,
.interest .interest-filter button.active,
.projects .project-item-inner .project-info .project-tags a,
body.dark .skills .skills-content .p-skill .p-items i:hover,
.skills .skills-content .p-skill .p-items i:hover,
.about .about-content .about-text h3 span,
body.dark .aside .nav li a:hover,
body.dark .aside .nav li a.active,
.aside .nav li a:hover,
.aside .nav li a.active
{
    color: #ffb400;
}
.projects .project-item-inner .project-date,
.skills .skills-content .skill-box .skill-bar .skill-bar-in,
.about .about-content .timeline .circle-dot,
.about .about-content .timeline .timeline-item::before,
.btn,
.section-title h2::after,
.section-title h2::before,
.aside .nav-toggler span,
.aside .nav-toggler span::before,
.aside .nav-toggler span::after,
.home .intro .social-links a
{
    background-color: #ffb400;
}

.interest .interest-filter button.active
{
    border-color: #ffb400;
}
